.info-outer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    overflow: auto;
    align-content: flex-start;
}

.info-item-container {
    width: 50%;
    flex: 0 50%;
    height: 160px;
    padding: .5em;
}

.info-item-inner-container {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    color: var(--main-color);
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding: 5px;
    word-break: break-word;
    flex-direction: column;
    justify-content: center;
}

.info-menu-icon {
    color: var(--main-color);
    height: 60px;
    width: 60px;
    margin-bottom: .5em;
}

ion-searchbar {
    height: 60px;
    --border-radius: 10px;
}

.info-overview-item-text {
    font-size: 14px;
}

.info-overview-item-outer-container {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100% - 60px);
    overflow: auto;
}