ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #EAEFE1;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.sira-info-outer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1.5em;
  letter-spacing: .2em;
  align-items: center;
}

.sira-info-header-text {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1em;
}

.sira-info-content-text {
  padding: 0 2em;
}

.sira-info-logo-container {
  margin-top: 2em;
  height: 80px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  width: 150px;
  padding-left: .5em;
  padding-top: .5em;
  border-radius: 10px;
}