<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="full-size-color-container">
    <div class="sira-info-outer-container">
      <span class="sira-info-header-text">Das ist SIRA</span>
      <span class="sira-info-content-text">Was ist SIRA?<br>Wer steckt hinter SIRA?
        <br><br>Sicheres Radfahren - <br>sicheres Radfahren in Graz - <br>sicher für alle<br><br>
        Uni-Projekt - FH-Joanneum <br>- Informationen zum Projekt<br><br>
        Kontaktdaten:<br>
        office@sira.at<br>
        support@sira.at</span>
      <div style="margin-top: 2em">
        In Kooperation mit der Radlobby Österreich <br>
        <div (click)="onNavigateToUploadDataPage()">
        <img style="height: 100px; margin-top: .5em" alt="SIRA Logo" src="../../../assets/radlobby_logo.png" />
    </div>
    <div style="margin-top: 1em;">
        S&auml;mtliche Datensätze <br>wurden in Graz gesammelt.
    </div>
    <div style="margin-top: 1em;">
        Die Datens&auml;tze stammen <br>
        aus dem Zeitraum: <br>
        {{dataStart | date:'M.yyyy'}} - {{dataEnd | date:'M.yyyy'}}
    </div>

    </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>
