<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="full-size-color-container">
    <div class="sira-info-outer-container">
      <span class="sira-info-header-text">Das ist SIRA</span>
      <span class="sira-info-content-text">Was ist SIRA?<br>Wer steckt hinter SIRA?
        <br><br>Sicheres Radfahren - <br>sicheres Radfahren in Graz - <br>sicher für alle<br><br>
        Uni-Projekt - FH-Joanneum <br>- Informationen zum Projekt<br><br>
        Kontaktdaten:<br>
        email@email.com<br>
        email@andere.com<br>
        hallo@hallo.com</span>
      <div class="sira-info-logo-container" (click)="onNavigateToUploadDataPage()">
        <img alt="SIRA Logo" src="../../../assets/icon/logo_new_green.svg" />
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>