<app-header></app-header>
<ion-content [fullscreen]="true">
    <div class="full-size-color-container">
        <div class="stats-container">
            <div class="select-outer-container">
                <ion-select class="select-items" interface="action-sheet" placeholder="Visualisierung auswählen"
                    [value]="selValue" cancelText="Abbrechen" (ionChange)="onSelValueChanged($event)">
                    <ion-select-option value="dangerZones">Gefahrenstelle</ion-select-option>
                    <ion-select-option value="overtakingDistance">Überholabstand innerorts</ion-select-option>
                    <ion-select-option value="minOvertakingDistance">Mindestüberholabstand</ion-select-option>
                    <ion-select-option value="speedDifferences">Auffällige
                        Geschwindigkeits-Änderungen</ion-select-option>
                </ion-select>
            </div>
            <sira-map *ngIf="selValue === 'dangerZones'" [showButton]="false"></sira-map>
            <stats-list *ngIf="selValue === 'speedDifferences'" [coordList]="speedList" [valueSuffix]="'km/h'"
                [disclaimer]="'Disclaimer'"></stats-list>
            <stats-bar-diagram
                *ngIf="selValue === 'overtakingDistance' && overtakingDistanceList && overtakingDistanceList.length > 0"
                [data]="overtakingDistanceList">
            </stats-bar-diagram>
            <stats-pie-diagram
                *ngIf="selValue === 'minOvertakingDistance' && overtakingDistanceList && overtakingDistanceList.length > 0"
                [data]="overtakingDistanceList">
            </stats-pie-diagram>

        </div>
    </div>
</ion-content>
<app-footer></app-footer>