<app-header></app-header>
<ion-content [fullscreen]="true">
    <div class="full-size-color-container">
        <div class="stats-container">
            <div class="select-outer-container">
                <ion-select class="select-items" interface="action-sheet" placeholder="Visualisierung auswählen"
                    [value]="selValue" cancelText="Abbrechen" (ionChange)="onSelValueChanged($event)">
                    <ion-select-option value="dangerZones">Gefahrenstellen</ion-select-option>
                    <ion-select-option value="overtakingDistance">Überholabstand innerorts</ion-select-option>
                    <ion-select-option value="minOvertakingDistance">Mindestüberholabstand</ion-select-option>
                    <ion-select-option value="speedDifferences">Auffällige
                        Geschwindigkeitsänderungen</ion-select-option>
                </ion-select>
            </div>
            <div *ngIf="selValue === 'dangerZones'" style="height: 100%; width: 100%;">
                <div class="map-sel-options-container">
                    <div style="margin-right: .2em;     display: flex; align-items: center;"> <ion-checkbox
                            class="checkbox-item" [(ngModel)]="isDangerZoneChecked">
                        </ion-checkbox>
                        <ion-label>Gefahrenstellen</ion-label>
                        <img class="map-icon-ex" alt="Geschwindigkeitsunterschiede"
                            src="../../../assets/marker/speed/speedometer_red.png" />
                    </div>
                    <div style="margin-left: .2em;     display: flex; align-items: center;"> <ion-checkbox
                            class="checkbox-item" [(ngModel)]="isSpeedChecked">
                        </ion-checkbox>
                        <ion-label>Geschwindigkeitsunterschiede</ion-label>
                        <img class="map-icon-ex" alt="Geschwindigkeitsunterschiede"
                            src="../../../assets/marker/alert-circle.png" />
                    </div>
                </div>
                <sira-map [showButton]="false" [showSpeed]="isSpeedChecked"
                    [showDangerZones]="isDangerZoneChecked"></sira-map>
            </div>
            <stats-list *ngIf="selValue === 'speedDifferences'" [coordList]="speedList" [valueSuffix]="'km/h'"
                [disclaimer]="'Disclaimer'"></stats-list>
            <stats-bar-diagram
                *ngIf="selValue === 'overtakingDistance' && overtakingDistanceList && overtakingDistanceList.length > 0"
                [data]="overtakingDistanceList">
            </stats-bar-diagram>
            <stats-pie-diagram
                *ngIf="selValue === 'minOvertakingDistance' && overtakingDistanceList && overtakingDistanceList.length > 0"
                [data]="overtakingDistanceList">
            </stats-pie-diagram>

        </div>
    </div>
</ion-content>
<app-footer></app-footer>