ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.select-outer-container {
  padding: 1em;
}

.select-items {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding-right: 10px;
}

ion-select::part(icon) {
  color: var(--main-color);
  opacity: 1;
}

.stats-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

sira-map {
  height: 100%;
  width: 100%;
}