.map {
    height: 100%;
    width: 100%;
}

.ol-popup {
    position: absolute;
    background-color: #EAEFE1;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 30px;
    left: -50px;
    padding-right: 1.5em;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: #EAEFE1;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #EAEFE1;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    background-color: var(--main-color);
    padding: 0.2em 0.4em;
    top: 0;
    right: 0;
    color: white;
}

.ol-popup-closer:after {
    content: "✖";
}

#popup-content {
    white-space: nowrap;
    margin-right: 0.8em;
}

.map-button-container {
    bottom: 80px;
    position: absolute;
    right: 20px;
    height: 100px;
    width: 100px;
}

.map-button-icon {
    height: 100%;
    width: 100%;
    color: #ef2727;
}