.toolbar-container {
    --background: var(--main-color);
}

ion-menu-button {
    color: white;
}

.ion-buttons-container {
    margin-left: 0;
}

.title-container {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.header-logo-container {
    height: 45px;
    width: 140px;
    padding-left: 2em;
}

.header-items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-icon {
    padding-right: 0.7em;
    color: white;
    height: 30px;
    width: 30px;
}