.toolbar-container {
    --background: #537953;
}

ion-menu-button {
    color: white;
}

.ion-buttons-container {
    margin-left: 0;
}

.title-container {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.header-logo-container {
    height: 45px;
    width: 90px;
}