<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="toolbar-container">
    <ion-title class="title-container">
      <div class="header-items-container">
        <div></div>
        <img class="header-logo-container" (click)="onNavigateToPage('home')" alt="SIRA Logo"
          src="../../../assets/icon/logo_white.svg" />
        <ion-icon (click)="onNavigateToPage('info')" name="information-circle" class="info-icon"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>