#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.home-image-container {
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home-image-container::before {
  content: "";
  background-image: url("../../../assets/biker_home_site.jpeg");
  background-size: cover;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-text-paragraph {
  position: relative;
  font-size: 35px;
  color: #537953;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  letter-spacing: .3em;
}

.home-routing-line {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 40px;
  height: 50%;
  padding: 20px;
}

.home-routing-line:first-child {
  padding-bottom: 10px;
}

.home-routing-line:last-child {
  padding-top: 10px;
}

.home-routing-outer-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em 0;
}

.home-routing-item {
  background-color: #EAEFE1;
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #537953;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.home-menu-icon {
  width: 60%;
  height: 40%;
  margin-bottom: 1em;
}