<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="full-size-container">
    <div class="home-image-container">
      <p class="home-text-paragraph">Willkommen <br> bei SIRA</p>
    </div>
    <div class="home-routing-outer-container">
      <div class="home-routing-line">
        <div class="home-routing-item" (click)="onItemClicked('route')">Route finden</div>
        <div class="home-routing-item" (click)="onItemClicked('stats')">Daten</div>
      </div>
      <div class="home-routing-line">
        <div class="home-routing-item" (click)="onItemClicked('law')">Gesetze</div>
        <div class="home-routing-item" (click)="onItemClicked('aid')">1. Hilfe</div>
      </div>
    </div>
  </div>
</ion-content>