.info-outer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    align-content: flex-start;
}

.info-text-container {
    padding: .8em;
    white-space: pre-line;
    overflow: auto;
    max-height: calc(100% - 60px);
    width: 100%;
    text-align: justify;
}

.info-text-container-report {
    display: flex;
    flex-direction: column;
}

ion-searchbar {
    height: 60px;
    --border-radius: 10px;
}

::ng-deep .highlighted-text {
    background-color: yellow;
}

.accident-report-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.info-text-title-container {
    font-weight: 700;
    padding: .8em;
}