<div class="full-size-container info-outer-container">
    <ion-searchbar (ionChange)="onFilterText($event)" placeholder="Suche ..."></ion-searchbar>
    <div class="info-text-title-container">
        <div>{{filteredInfo?.title}}</div>
        <div *ngIf="info.category === 'Law' && info.source"
        style="width: 20px; height: 20px;">
        <a [href]="info.source" target="_blank">
            <img  alt="Link to Law" src="../../../../assets/open-in-new.png"/>
        </a>
        </div>
    </div>
    <div class="info-text-container" [class.info-text-container-report]="filteredInfo?.action === 'AccidentReport'"
        [innerHtml]="filteredInfo?.text | highlighter:filterText:'partial'">
    </div>
    <div class="button-outer-container">
        <app-button class="accident-report-button" *ngIf="filteredInfo?.action === 'AccidentReport'"
        [text]="'PDF Vorlage Download'" (onClick)="onAccidentReportClicked()"></app-button>
    </div>
</div>