.info-outer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    align-content: flex-start;
}

.info-text-outer-container {
    padding: .8em;
    overflow: auto;
    max-height: calc(100% - 80px);
    width: 100%;
}

.info-text-container {
    white-space: pre-line;
    text-align: justify;
    height: 100%;
    overflow: auto;
}

.info-text-container-report {
    display: flex;
    flex-direction: column;
}

ion-searchbar {
    height: 60px;
    --border-radius: 10px;
}

::ng-deep .highlighted-text {
    background-color: yellow;
}

.accident-report-button {
    width: 80%;
    display: flex;
    justify-content: center;
}
.info-text-title-container {
    font-weight: 700;
    padding: .8em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-outer-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.first-aid-image {
    margin-top: 1em;
    max-height: 300px;
}