<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="full-size-color-container">
    <div class="map-outer-container">
        <div class="ion-input-outer-container">
            <div>
                <ion-input class="ion-input-field" placeholder="Start"></ion-input>
            </div>
            <div>
                <ion-input class="ion-input-field" placeholder="Ziel"></ion-input>
            </div>
        </div>
        <sira-map></sira-map>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>