.toolbar-container {
    --background: #537953;
}

ion-menu-button {
    color: white;
}

.ion-buttons-container {
    margin-left: 0;
}

.title-container {
    padding-left: 0;
    padding-right: 48px;
    text-align: center;
}

.header-logo-container {
    height: 45px;
    width: 90px;
}

.footer-menu-container {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    color: white;
}

.active-footer-menu-item {
    color: #989c90;
}

.footer-menu-icon {
    height: 40px;
    width: 40px;
}